---

---

<a href="singleveiw" class="butik_card">
  <article>
    <div class="card_best">
      <div class="tekst_butik">
        <h1 class="overskrift card_h1">Besøg vores butik</h1>
        <p class="sebutik">Lyngby Hovedgade 72, 2800 Lyngby</p>
      </div>

      <img class="butik" src="/img/listeveiw/butikcard1.webp" alt="sko" />
    </div>
  </article>
</a>

<style>
  .butik_card {
    order: 5;
    text-decoration: none;
    grid-row: span 2;
    grid-column: span 2;
  }

  .butik {
    padding: 50px;
    order: 13;
  }
  .card_best {
    background-color: var(--lyserRoed600);
  }

  .tekst_butik {
    padding: 40px;
    display: grid;
    gap: 10px;
  }

  .overskrift {
    color: var(--offWhite);
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
  }
  .sebutik {
    color: var(--offWhite);
  }
</style>
