---
const { sissel_kjole } = Astro.props;
---

<section class="butik_icon">
  <span class="icon"></span>

  <img class="kjole_img" src={sissel_kjole} alt="billede af sissel kjole" />
</section>

<!-- <script>
  // her declerarer vi butikIcon og spanTekst så vi nemt kan tage fat i elemntet og skriv mindre kode
  const butikIcon = document.querySelector("section");
  const spanTekst = document.querySelector("span.tekst");

  //her tilføjer vi en eventlistener som skal "lytte" efter at musen går over section aka. butikIcon
  // når den så opfanger at musen er over elementet skal den gå ned til funtionen mouseOverIcon
  butikIcon.addEventListener("mouseover", mouseOverIcon);

  function mouseOverIcon() {
    console.log("musen er over");
    // her fjerne den classen "none" fra span elementet som har teksten "kun købes i butik"
    spanTekst.classList.remove("none");
    // efter det skal den også "lytte" efter eventet når musen går ud fra sectionen og gå videre til mouseOutIcon
    this.addEventListener("mouseout", mouseOutIcon);
  }

  function mouseOutIcon() {
    spanTekst.classList.add("none");
    // her tilføjer vi bare klassen none til span elementet igen
    console.log("musen er out");
  }
</script> -->

<style>
  .none {
    display: none;
  }

  .butik_icon {
    position: relative;
    flex: 1 1 auto;
    object-fit: cover;
  }

  span.icon {
    position: absolute;
    top: 2%;
    right: 2%;
    background-image: url(/img/butik_icon_hvid.svg);
    background-size: cover;
    width: 80px;
    height: 80px;
  }
  span.tekst {
    position: absolute;
    top: 45%;

    rotate: 50deg;
  }

  span.tekst p {
    z-index: 1;
    font-size: 30px;
    color: var(--offWhite);
  }
  @media (max-width: 800px) {
    .butik_icon {
      width: 150px;
    }
  }

  @media (min-wdith: 800px) {
    .butik_icon {
      width: 100%;
      height: 100%;
      margin-top: 0;
      align-self: center;
    }
  }
</style>
