---
import Layout from "../componets/Layout.astro";
---

<a href="singleveiw" class="sko_card">
  <article>
    <div class="card_best">
      <div class="tekst_sko">
        <h1 class="overskrift card_h1">INSPIRATION</h1>
        <p class="model">Lilla Bibi Lou ruskinds støvle med hæl.</p>
      </div>

      <img class="sko" src="/public/img/listeveiw/skocard.webp" alt="sko" />
    </div>
  </article>
</a>

<style>
  .sko_card {
    order: -1;
    text-decoration: none;
    grid-row: span 2;
    grid-column: span 2;
    background-color: var(--gul500);
  }

  .sko {
    order: 13;
    width: 100%;
    align-items: center;
  }

  .tekst_sko {
    padding: 40px;
    display: grid;
    gap: 10px;
  }
  .overskrift {
    color: var(--offWhite);
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
  }
  .model {
    color: var(--offWhite);
  }
</style>
