---

---

<a href="singleveiw" class="sko_card">
  <article>
    <div class="card_best">
      <div class="tekst_sko">
        <h1 class="overskrift card_h1">Overskrift</h1>
        <p class="model">Model</p>
      </div>

      <img class="sko" src="/public/img/skosingleveiw.png" alt="sko" />
    </div>
  </article>
</a>
<style>
  .sko_card {
    order: 9;
    text-decoration: none;
    grid-row: span 2;
    grid-column: span 2;
  }

  .sko {
    padding: 50px;
  }
  .card_best {
    width: 540px;
    background-color: var(--gul500);
  }

  .tekst_sko {
    padding: 40px;
    display: grid;
    gap: 10px;
  }
</style>
