* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

:root {
  --offWhite: #fdfafa;
  --offBlack: #262222;
  --lyserRoed50: #fdf4f5;
  --lyserRoed200: #f4d8db;
  --lyserRoed400: #dd949f;
  --lyserRoed600: #b54962;
  --orange600: #c55c3c;
  --gul500: #d88e38;
  --groen200: #e6e2b0;
  --brun100: #eae0d7;
}

/************************ Fonte ************************/
h1 {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: var(--offBlack);
}

h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  color: var(--offBlack);
}

li a {
  font-family: "Biryani", sans-serif;
  font-weight: 400;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--lyserRoed600);
}

p,
a,
input,
textarea,
li {
  font-family: "Biryani", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--offBlack);
}

/************************ Size ************************/

/************* Mobil *************/
h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

li,
p,
a,
input,
textarea {
  font-size: 18px;
}

/************* Desktop *************/
@media (min-width: 800px) {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }
}

/************************ Fonte card ************************/

/************* Mobil *************/
.card_h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
}

.card_h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

/************* Desktop *************/
@media (min-width: 800px) {
  .card_h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
  }
}

/************************ Baggrundsfarve ************************/
body {
  background-color: var(--offWhite);
}

/************************ Luft ************************/
/************* Mobil *************/
body {
  padding: 25px;
  padding-top: 60px;
}

/************* Desktop *************/
@media (min-width: 800px) {
  main {
    margin: 0 auto 0 auto;
    max-width: 1150px;
  }

  body {
    padding: 0px;
    padding-top: 0px;
  }
}
