---
import Layout from "../componets/Layout.astro";
import Submit from "../componets/Submit.astro";
---

<Layout titel="Betaling">
  <div class="betalling_side">
    <div class="produkt_info order">
      <h1>Din kurv</h1>
      <h2>DLS Sport</h2>
      <div class="card">
        <img src="/img/listeveiw/sko_1_1.webp" alt="billede af sneaker sko som er lyserød" />
        <div class="col">
          <p class="str">Str: 37</p>
          <div class="color1"></div>
        </div>
        <div class="info">
          <p class="before_pris befor_pris">Før: 1000DKK</p>
          <p class="new_pris">800DKK</p>
        </div>
      </div>
      <form class="rabat_form">
        <input type="text" id="rabat_kode" name="rabat_kode" placeholder="Indsæt rabat kode" />

        <Submit value="Indløs" />
      </form>
      <div class="udgifter">
        <div class="udgifter_info">
          <p>Rabat</p>
          <p>Subtotal</p>
          <p>Levering</p>
          <p><strong>I Alt</strong></p>
        </div>
        <div class="udgifter_tal">
          <p class="rabat">200 DKK</p>
          <p class="subtotal">800 DKK</p>
          <p>Gratis</p>
          <p class="i_alt"><strong>600 DKK</strong></p>
        </div>
      </div>
    </div>

    <div class="betaling_levering">
      <form class="person_info">
        <fieldset>
          <legend>Levering:</legend>
          <input class="hjem" type="radio" id="hjem" name="leverings_sted" value="Levering til døren" checked />
          <label for="hjemmelevering">Levering til døren</label>
          <br />
          <br />
          <input class="butik" type="radio" id="butik" name="leverings_sted" value="Afhent i butik" />
          <label for="butiklevering">Afhent i butik</label>
          <br />
          <br />
          <div class="hjem_levering">
            <div class="flex_1_1">
              <input type="text" id="fnavn" name="fnavn" placeholder="Dit fornavn" required />

              <input type="text" id="name" name="enavn" placeholder="Dit efternavn" required />
            </div>
            <input type="email" id="email" name="email" placeholder="Din email" required />

            <input type="tel" id="phone" name="phone" placeholder="Telefon nummer" required />

            <input type="text" id="address" name="address" placeholder="Din adresse" required />
            <input type="text" id="floor" name="floor" placeholder="Lejelighed, etage, ovs. (valgfri)" />

            <input type="text" id="land" name="land" placeholder="Land" required />
            <div class="flex_1_1">
              <input type="number" id="zipcode" name="zipcode" placeholder="Postnummer" required />

              <input type="text" id="city" name="city" placeholder="By" required />
            </div>
          </div>

          <div class="butik_levering none">
            <input type="text" id="location" name="location" placeholder="Brug din lokalition" />
            <p>Eller</p>
            <div class="flex_1_1">
              <input type="text" id="land" name="land" placeholder="Land/område" required />

              <input type="text" id="adresse" name="adresse" placeholder="Adresse" required />
              <Submit value="Find butik" />
            </div>
          </div>
        </fieldset>
      </form>

      <form class="fakturering">
        <fieldset>
          <legend>Fakturerings adresse</legend>

          <input class="samme_adresse" type="radio" id="samme_adresse" name="fakturerings_adresse" value="samme_adresse" checked />
          <label for="butiklevering">Samme adresse som leverings adresse</label>
          <br />
          <br />
          <input class="anden_adresse" type="radio" id="anden_adresse" name="fakturerings_adresse" value="anden_adresse" />
          <label for="anden_adresse">Brug en anden fakturerings adresse</label>

          <div class="fakturerings_adresse none">
            <div class="flex_1_1">
              <input type="text" id="fnavn" name="fnavn" placeholder="Dit fornavn" required />

              <input type="text" id="name" name="enavn" placeholder="Dit efternavn" required />
            </div>
            <input type="email" id="email" name="email" placeholder="Din email" required />

            <input type="tel" id="phone" name="phone" placeholder="Telefon nummer" required />

            <input type="text" id="address" name="address" placeholder="Din adresse" required />
            <input type="text" id="floor" name="floor" placeholder="Lejelighed, etage, ovs. (valgfri)" />

            <input type="text" id="land" name="land" placeholder="Land" required />
            <div class="flex_1_1">
              <input type="number" id="zipcode" name="zipcode" placeholder="Postnummer" required />

              <input type="text" id="city" name="city" placeholder="By" required />
            </div>
          </div>
        </fieldset>
      </form>
      <form class="betallings_metode">
        <fieldset>
          <legend>Betallings metode:</legend>
          <input type="radio" id="betallingskort" name="betalling_metode" value="Betallingskort" checked />
          <label for="betallingskort">Betallingskort</label>
          <br />
          <br />
          <input type="radio" id="mobilepay" name="betalling_metode" value="Mobilepay" />
          <label for="mobilepay">Mobilepay</label>
          <br />
          <br />
          <Submit value="Køb" />
        </fieldset>
      </form>
    </div>
  </div>

  <script is:inline>
    const butik = document.querySelector(".butik");
    const hjem = document.querySelector(".hjem");
    const andenAdresse = document.querySelector(".anden_adresse");
    const sammeAdresse = document.querySelector(".samme_adresse");

    document.querySelector(".butik").addEventListener("mousedown", clickButik);
    document.querySelector(".hjem").addEventListener("mousedown", clickHjem);
    document.querySelector(".anden_adresse").addEventListener("mousedown", clickAndenAdresse);

    document.querySelector(".samme_adresse").addEventListener("mousedown", clickSammeAdresse);

    function clickSammeAdresse() {
      document.querySelector(".fakturerings_adresse").classList.add("none");
    }

    function clickAndenAdresse() {
      document.querySelector(".fakturerings_adresse").classList.remove("none");
    }

    function clickButik() {
      console.log("butik");
      document.querySelector(".hjem_levering").classList.add("none");
      document.querySelector(".butik_levering").classList.remove("none");
      document.querySelector(".fakturerings_adresse").classList.remove("none");

      document.getElementById("anden_adresse").checked = true;
    }

    function clickHjem() {
      console.log("hjem");
      document.querySelector(".fakturerings_adresse").classList.add("none");
      document.querySelector(".butik_levering").classList.add("none");
      document.querySelector(".hjem_levering").classList.remove("none");
      document.getElementById("samme_adresse").checked = true;
    }
  </script>

  <style>
    .befor_pris {
      text-decoration: line-through var(--orange600) 2px;
    }

    .none {
      display: none;
    }

    .betalling_side {
      padding-bottom: 100px;
      position: relative;
    }
    .flex_1_1 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
    }

    .flex_1_1 input[type="text"],
    .flex_1_1 input[type="number"] {
      flex: 1 1 200px;
      min-width: 200px;
    }

    .person_info {
      display: flex;
      flex-flow: column;
    }

    fieldset {
      border: 2px solid var(--lyserRoed600);
      padding: 20px;
      margin-top: 50px;
      border-radius: 3px;
    }
    legend {
      font-size: 20px;
    }
    input[type="text"],
    input[type="number"],
    input[type="tel"],
    input[type="email"] {
      width: 100%;
      margin: 5px 0;
      padding: 2px 2px;
      border: 2px solid var(--lyserRoed600);
      border-radius: 3px;
    }
    /* når man er i fæltet i formen */
    input[type="text"]:focus,
    input[type="number"]:focus,
    input[type="tel"]:focus,
    input[type="email"]:focus {
      outline: solid 1px var(--lyserRoed600);
      background-color: var(--lyserRoed200);
      transition: all 0.3s ease-in-out;
    }

    /* her bliver mine intputs som har typen "radio" stylet */
    input[type="radio"] {
      width: 30px;
    }
    input[type="radio"]:checked {
      accent-color: var(--lyserRoed600);
    }

    /* her bliver produkt informationen stylet */
    .produkt_info {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    .card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 20px;
    }
    .card .col,
    .info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .card img,
    .info,
    .card .col {
      width: 50px;
      flex: 1 1 auto;
    }

    .color1 {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background-color: var(--orange600);
    }

    .udgifter {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }

    @media (min-width: 800px) {
      .betalling_side {
        gap: 50px;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .order {
        order: 2;
      }

      .card .col,
      .info {
        gap: 3rem;
      }
    }
  </style>
</Layout>
