---
import Layout from "../componets/Layout.astro";
---

<Layout titel="Handelsbetingelser">
  <h1>Handels- og leveringsbetingelser</h1>
  <div class="grid">
    <div>
      <h2>Bestilling</h2>
      <p>Når du har fundet de varer du ønsker at købe og lagt dem i indkøbskurven, skal du udfylde dine personlige oplysninger og kreditkort informationer. Når du har accepteret handelsbetingelserne, og gennemført betalingen, modtager du automatisk en ordrebekræftelse på mail. Vi tager forbehold for trykfejl og udsolgte varer.</p>
      <h2>Priser</h2>
      <p>Alle priser er inkl. 25 % moms og i angivet i danske kroner. Der tages forbehold for tastefejl.</p>
      <h2>Betaling</h2>
      <p>
        De mulige betalingsmåder er Dankort, Visa, Visa Electron, MasterCard og Maestro og Mobile pay. Din betaling bliver først trukket når varen sendes fra vores lager. Der kan aldrig trækkes et større beløb end det godkendte beløb. Der opkræves ikke gebyr for betaling med betalingskort. Data krypteres med SSL (Secure Socket Layer) og sendes
        sikkert via Quickpay betalingsgateway.
      </p>
      <h2>Levering</h2>
      <p>K2 Shoes and bags sender til en pakkeshop med DAO som leveringspartner, dette gælder alle pakker indenfor Danmark. Vi bestræber os på at afsende alle ordre afgivet inden kl. 12.00 samme dag - dog ikke lørdag og søndag. I forbindelse med udsalg, må der påregnes længere leveringstid.</p>
      <h2>Returnering/fortrydelsesret</h2>
      <p>
        Der tilbydes 14 dages fuld returret gældende fra den dag du modtager varen. Du skal som kunde meddele K2 Shoes and bags om at du ønsker at returnere en varer, dette skal underrettes indenfor 14 dage fra modtagelse (på email knoop@c.dk), derpå har du 14 dage til at varen er K2 Shoes and bag i hænde, dette jvf. EU lovgivningen om webhandel.
        Varen returneres naturligvis ubrugt, med alle mærker intakte og i samme stand som ved modtagelsen - da skoæsken er en VIGTIG del af varens værdi, skal skoæsken også være intakt, hvorfor man IKKE må bruge æsken som forsendelses æske, og ikke påsætte tape eller lign. Er æsken svært beskadiget tilbageholdes kr. 50,- til erstatning af skoæsken.
        Det er købers ansvar og omkostning at returnere en vare. Alle produkter, der returneres skal være forsvarligt indpakket.
      </p>
      <h2>Retur</h2>
      <p>
        Du returnerer en ordre ved at sende pakken, forsvarligt indpakket, så varen ikke beskadiges, til K2 Shoes and Bags, Lyngby Hovedgade 72, 2800 Lyngby. Vi anbefaler at pakken sendes med sporing, da den ellers ikke er forsikret. Returpakken er kundens ansvar indtil den er K2 Shoes and bags i hænde. Vi modtager IKKE pakker der er sendt til
        udleveringssted, f.eks. Posthus eller pakkeshop, pakken skal sendes direkte til vores adresse. OBS! Du kan også returnere din ordre i vores fysiske butik på Lyngby Hovedgade 72, der kan returneres indenfor almindelig åbningstid. Vi er en lille bitte butik, og der kan være meget travlt, så hav lidt tålmodighed med os hvis du besøger os for
        at returnere en pakke.
      </p>
    </div>
    <div>
      <h2>Udsalg og kampagner</h2>
      <p>Alle kampagner, nedsættelser og udsalg gælder ikke med tilbagevirkende kraft. Dvs. at varens pris på bestillingstidpunktet er gældende.</p>
      <h2>Udsolgte varer</h2>
      <p>Det kan hænde at den bestilte varer er udsolgt, og ordren derfor må annulleres. I dette tilfælde vil kunden blive kontaktet hurtigst muligt og blive informeret herom.</p>
      <h2>Reklamationsret</h2>
      <p>
        Der ydes 2 års reklamationsret på produkter købt hos K2 Shoes and bags. Går varen mod forventning i stykker, repareres denne vederlagsfrit af K2 Shoes and bags eller af vores leverandør, såfremt original kvittering vedlægges. Reklamationsretten dækker ikke forkert håndtering, eller groft misbrug. Kundeservice skal kontaktes inden du sender
        en reklamation retur. Kontakt kundeservice på telefon: +45 26802200, eller mail knoop@c.dk. VIGTIGT: Reklamationer uden forudgående kontakt og original kvittering vil blive afvist.
      </p>
      <h2>Klage</h2>
      <p>
        Hvis du, mod forventning er utilfreds med noget omkring dit køb skal du rette henvendelse til os - K2 Shoes and bags på tlf. 26802200. Hvis det ikke lykkes os at finde en løsning, kan du indgive en klage til Konkurrence- og Forbrugerstyrelsens Center for Klageløsning, Carl Jacobsens Vej 35, 2500 Valby, via www.forbrug.dk. Du kan også
        anvende EU-kommissionens online klageportal, hvilket dog hovedsageligt vil være relevant, hvis du er forbruger med bopæl uden for Danmark. Du finder klageportalen her: http://ec.europa.eu/consumers/odr/.
      </p>
      <h2>Kontakt info:</h2>
      <p>K2 Shoes and bags ejes af Knoop of Copenhagen CVR 41249684. K2 Shoes and bags har adresse på: Lyngby Hovedgade 72, 2800 Lyngby og kan træffes via email: knoop@c.dk eller på tlf. +4526802200.</p>
    </div>
  </div>
</Layout>

<style>
  /***************************** Luft  ******************************/
  h1 {
    padding-bottom: 80px;
  }

  h2 {
    padding-bottom: 10px;
  }

  p {
    padding-bottom: 50px;
  }

  /***************************** Desktop - grid  ******************************/
  @media (min-width: 800px) {
    h1 {
      padding: 80px 0;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px;
    }
  }
</style>
