---
import Layout from "../componets/Layout.astro";
---

<Layout titel="Forside">
  <img src="/public/img/kontakt_placeholder.png" alt="placeholder for video" />
  <div class="toej">
    <div class="toej-slide">
      <img src="/public/img/sissel_slider_1.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_2.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_3.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_4.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_5.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_6.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_7.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_8.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_9.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_10.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_11.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_12.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_13.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_14.webp" alt="kjole fra Sissel Edelbo" />
    </div>
    <div class="toej-slide">
      <img src="/public/img/sissel_slider_1.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_2.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_3.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_4.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_5.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_6.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_7.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_8.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_9.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_10.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_11.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_12.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_13.webp" alt="kjole fra Sissel Edelbo" />
      <img src="/public/img/sissel_slider_14.webp" alt="kjole fra Sissel Edelbo" />
    </div>
  </div>

  <div class="sissel">
    <div class="sissel-slide">
      <img src="/public/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
      <img src="/public/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
      <img src="/public/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
      <img src="/public/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
      <img src="/public/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
    </div>
    <div class="sissel-slide">
      <img src="/public/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
      <img src="/public/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
      <img src="/public/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
      <img src="/public/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
      <img src="/public/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
    </div>
  </div>

  <blockquote
    class="instagram-media"
    data-instgrm-captioned
    data-instgrm-permalink="https://www.instagram.com/p/C7CrqsrscdB/?utm_source=ig_embed&utm_campaign=loading"
    data-instgrm-version="14"
    style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"
  >
  </blockquote>
  <script async src="//www.instagram.com/embed.js"></script>
</Layout>

<style>
  /***************************** Tøj infinite carousel  ******************************/

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .toej {
    overflow: hidden;
    white-space: nowrap;
  }

  .toej:hover .toej-slide {
    animation-play-state: paused;
  }
  .toej-slide {
    display: inline-block;
    animation: 45s slide infinite linear;
  }

  .toej-slide img {
    width: auto;
    height: 80px;
  }

  /***** Desktop *****/
  @media (min-width: 800px) {
    .toej-slide img {
      height: 200px;
    }
  }

  /***************************** Sissel Edelbo infinite carousel  ******************************/

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .sissel {
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--groen200);
  }

  .sissel-slide {
    display: inline-block;
    animation: 45s slide infinite linear;
  }

  .sissel-slide img {
    width: auto;
    height: 22px;
  }
  /***** Desktop *****/
  @media (min-width: 800px) {
    .sissel-slide img {
      height: 32px;
    }
  }
</style>

<script></script>
