---
import Layout from "../componets/Layout.astro";
import Buttons from "../componets/Buttons.astro";
import Card from "../componets/Card.astro";
---

<Layout titel="Forside">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/nAjR0Oj0J8E?si=O2tECBT2TAK97meS&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <div class="toej">
    <a href="/sissel_edelbo">
      <div class="toej-slide">
        <img src="/public/img/sissel_slider_1.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_2.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_3.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_4.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_5.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_6.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_7.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_8.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_9.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_10.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_11.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_12.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_13.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_14.webp" alt="kjole fra Sissel Edelbo" />
      </div>
      <div class="toej-slide">
        <img src="/public/img/sissel_slider_1.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_2.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_3.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_4.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_5.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_6.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_7.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_8.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_9.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_10.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_11.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_12.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_13.webp" alt="kjole fra Sissel Edelbo" />
        <img src="/public/img/sissel_slider_14.webp" alt="kjole fra Sissel Edelbo" />
      </div>
    </a>
  </div>

  <div class="sissel">
    <a href="/sissel_edelbo">
      <div class="sissel-slide">
        <img src="/public/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
        <img src="/public/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
        <img src="/public/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
        <img src="/public/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
        <img src="/public/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
      </div>
      <div class="sissel-slide">
        <img src="/public/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
        <img src="/public/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
        <img src="/public/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
        <img src="/public/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
        <img src="/public/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
      </div>
    </a>
  </div>

  <div class="grid_kategori_index">
    <div class="billede_med_tekst">
      <div class="background-image-k2"></div>
      <div class="tekst_over_billede">
        <h1 class="hvid">K2</h1>
        <p class="hvid">Velkommen til K2, hvor kvalitet og elegance går hånd i hånd. Vores sko er håndplukket fra de bedste designere i Italien, Spanien og Danmark, mens vores kjoler er skabt af Sissel Edelbo og lavet af reststoffer, som garenterer en bæredygtig og unik stil til enhver kvinde.</p>
        <p class="hvid">Lad dig forføre af vores udvalg og oplev en verden af stil og kvalitet.</p>
      </div>
    </div>
    <div class="grid_kategori">
      <div class="midten">
        <h2 class="luft_klar">KLAR TIL SOMMEREN?</h2>
        <Buttons variant="primary"><a class="button" href="/listeveiw">Se flere sko</a></Buttons>
      </div>
      <img src="/public/img/sko.webp" alt="Sko" />
    </div>
    <div class="grid_kategori">
      <div class="midten">
        <h2 class="luft_klar">KLAR TIL FEST?</h2>
        <Buttons variant="primary"><a class="button" href="/sissel_edelbo">Se mere tøj</a></Buttons>
      </div>
      <img src="/public/img/toej.webp" alt="Tøj" />
    </div>
  </div>

  <div class="popular">
    <h1>Se de mest populære sko</h1>
    <section class="grid_popular">
      <Card />
      <Card />
      <Card />
      <Card />
    </section>
    <div class="popular_button">
      <Buttons variant="primary"><a class="button" href="/listeveiw">Se flere sko </a></Buttons>
    </div>
  </div>

  <div class="instagram">
    <h2>Følg K2 på Instagram</h2>
    <div class="line"></div>
    <a href="https://www.instagram.com/k2shoesandbags?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
      <div class="grid_istagram">
        <img src="/public/img/instagram_8.webp" alt="k2-Instagram" />
        <img src="/public/img/instagram_1.webp" alt="k2-Instagram" />
        <img src="/public/img/instagram_7.webp" alt="k2-Instagram" />
        <img src="/public/img/instagram_4.webp" alt="k2-Instagram" />
        <img src="/public/img/instagram_2.webp" alt="k2-Instagram" />
        <img src="/public/img/instagram_5.webp" alt="k2-Instagram" />
        <img src="/public/img/instagram_6.webp" alt="k2-Instagram" />
        <img src="/public/img/instagram_3.webp" alt="k2-Instagram" />
      </div>
    </a>
  </div>
  <div class="billede_med_tekst">
    <div class="background-image">
      <div class="tekstbox">
        <h2 class="luft_om_h2">Om K2</h2>
        <p class="p luft_om">Marie Louise og Ole har i gennem mange år, budt på lækre sko og tøj, som kommer fra de dygtigste designere og er tilgængelige både i vores hyggelige butik på Lyngby Hovedgade 72 og online på vores webshop.</p>
        <p class="p luft_om">Dyk ned i vores verden af elegance og stil, hvor hver en detalje er nøje udvalgt til at forkæle dine sanser.</p>
        <div>
          <Buttons variant="primary"><a class="button" href="/omk2">Læs mere</a></Buttons>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  /***************************** Video ******************************/
  iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }
  /***************************** Tøj infinite carousel  ******************************/

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .toej {
    overflow: hidden;
    white-space: nowrap;
  }

  .toej:hover .toej-slide {
    animation-play-state: paused;
  }
  .toej-slide {
    display: inline-block;
    animation: 45s slide infinite linear;
  }

  .toej-slide img {
    width: auto;
    height: 100px;
  }

  /***** Desktop *****/
  @media (min-width: 800px) {
    .toej-slide img {
      height: 200px;
    }
  }

  /***************************** Sissel Edelbo infinite carousel ******************************/

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .sissel {
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--groen200);
  }

  .sissel-slide {
    display: inline-block;
    animation: 45s slide infinite linear;
  }

  .sissel-slide img {
    width: auto;
    height: 28px;
  }
  /***** Desktop *****/
  @media (min-width: 800px) {
    .sissel-slide img {
      height: 32px;
    }
  }

  /***************************** Kategori ******************************/

  .background-image-k2 {
    background-image: url(/public/img/k2_2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 8/14;
  }
  .billede_med_tekst {
    display: grid;
    place-items: center;
    position: relative;
  }

  img {
    width: 100%;
    height: auto;
    /*display: block;*/
  }

  .tekst_over_billede {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .tekst_over_billede p {
    width: 280px;
  }

  .hvid {
    color: var(--offWhite);
    padding: 10px 0;
  }

  .grid_kategori {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--brun50);
  }

  .midten {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .luft_klar {
    padding: 20px 0;
  }

  /***** Desktop *****/
  @media (min-width: 800px) {
    .background-image-k2 {
      background-image: url(/public/img/k2.webp);
      aspect-ratio: 8/8;
    }
    .grid_kategori_index {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding-top: 50px;
    }
  }

  /***************************** Populære sko ******************************/

  .popular {
    padding-top: 50px;
  }

  .grid_popular {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  /***** Desktop *****/
  @media (min-width: 800px) {
    .grid_popular {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }

  .popular_button {
    display: flex;
    justify-content: flex-end;
  }

  /***************************** Instagram ******************************/
  .instagram {
    padding: 50px 0;
  }

  .instagram h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }
  .line {
    width: 120px;
    height: 2px;
    background-color: var(--lyserRoed600);
    margin: 0 auto;
  }

  .grid_istagram {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding-top: 50px;
  }

  /***************************** Billide med tekstbox  ******************************/

  .background-image {
    background-image: url(/public/img/kontakt_placeholder_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
  }

  .tekstbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(255, 250, 250, 0.8);
    padding: 30px;
  }

  .p {
    width: 200px;
  }

  .luft_om {
    padding-bottom: 15px;
  }
  .luft_om_h2 {
    padding-bottom: 25px;
  }

  /*Desktop*/
  @media (min-width: 800px) {
    .background-image {
      background-image: url(/public/img/kontakt_placeholder.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 600px;
    }
    .tekstbox {
      transform: translate(-100%, -50%);
    }

    .p {
      width: 400px;
    }
  }
</style>

<script></script>
