---
import Layout from "../componets/Layout.astro";
import Buttons from "../componets/Buttons.astro";
import Card from "../componets/Card.astro";
const data = await fetch(
  "https://xdwlizqafawwahsaxilk.supabase.co/rest/v1/k2",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhkd2xpenFhZmF3d2Foc2F4aWxrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYzNjI3ODEsImV4cCI6MjAzMTkzODc4MX0.YV7fOme_czbNaDg9hVyfGOe8Tt3UwV0wnnyKZrlbPOw",
    },
  }
).then((res) => res.json());
console.log(data);
---

<Layout
  titel="Forside"
  hero_video="/stop_mostion.mp4"
  hasVideo="true"
  hasCarousel="true"
  hasCarouselTekst="true"
>
  <div class="grid_kategori_index">
    <div class="billede_med_tekst">
      <div class="background-image-k2"></div>
      <div class="tekst_over_billede">
        <h1 class="hvid h1_k2">K2</h1>
        <p class="hvid">
          Velkommen til K2, hvor kvalitet og elegance går hånd i hånd. Vores sko
          er håndplukket fra de bedste designere i Italien, Spanien og Danmark,
          mens vores kjoler er skabt af Sissel Edelbo og lavet af reststoffer,
          som garenterer en bæredygtig og unik stil til enhver kvinde.
        </p>
        <p class="hvid">
          Lad dig forføre af vores udvalg og oplev en verden af stil og
          kvalitet.
        </p>
      </div>
    </div>
    <div class="grid_kategori_venstre">
      <div class="grid_kategori">
        <div class="midten">
          <h2 class="luft_klar">KLAR TIL SOMMEREN?</h2>
          <Buttons variant="primary"
            ><a class="button" href="/listeveiw">Se flere sko</a></Buttons
          >
        </div>
        <img src="/img/sko.webp" alt="Sko" />
      </div>
      <div class="grid_kategori">
        <div class="midten">
          <h2 class="luft_klar">KLAR TIL FEST?</h2>
          <Buttons variant="primary"
            ><a class="button" href="/sissel_edelbo">Se mere tøj</a></Buttons
          >
        </div>
        <img src="/img/toej.webp" alt="Tøj" />
      </div>
    </div>
  </div>

  <div class="popular">
    <h1>Se de mest populære sko</h1>
    <section class="grid_1_1_1_1">
      {
        data.slice(0, 4).map((sko) => {
          return <Card data={sko} />;
        })
      }
    </section>
    <div class="popular_button">
      <Buttons variant="primary"
        ><a class="button" href="/listeveiw">Se flere sko </a></Buttons
      >
    </div>
  </div>

  <div class="instagram">
    <h2>Følg K2 på Instagram</h2>
    <div class="line"></div>
    <a
      href="https://www.instagram.com/k2shoesandbags?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
      target="_blank"
    >
      <div class="grid_istagram">
        <img src="/img/instagram_8.webp" alt="k2-Instagram" />
        <img src="/img/instagram_1.webp" alt="k2-Instagram" />
        <img src="/img/instagram_7.webp" alt="k2-Instagram" />
        <img src="/img/instagram_4.webp" alt="k2-Instagram" />
        <img src="/img/instagram_2.webp" alt="k2-Instagram" />
        <img src="/img/instagram_5.webp" alt="k2-Instagram" />
        <img src="/img/instagram_6.webp" alt="k2-Instagram" />
        <img src="/img/instagram_3.webp" alt="k2-Instagram" />
      </div>
    </a>
  </div>
  <div class="billede_med_tekst billede_luft">
    <div class="background-image">
      <div class="tekstbox">
        <h2 class="luft_om_h2">Om K2</h2>
        <p class="p luft_om">
          Marie Louise og Ole har i gennem mange år, budt på lækre sko og tøj,
          som kommer fra de dygtigste designere og er tilgængelige både i vores
          hyggelige butik på Lyngby Hovedgade 72 og online på vores webshop.
        </p>
        <p class="p luft_om">
          Dyk ned i vores verden af elegance og stil, hvor hver en detalje er
          nøje udvalgt til at forkæle dine sanser.
        </p>
        <div>
          <Buttons variant="primary"
            ><a class="button" href="/omk2">Læs mere</a></Buttons
          >
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  /***************************** Kategori ******************************/

  .background-image-k2 {
    background-image: url(/img/k2_2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 8/14;
    filter: brightness(60%);
  }
  .billede_med_tekst {
    display: grid;
    place-items: center;
    position: relative;
  }

  img {
    width: 100%;
    height: auto;
    /*display: block;*/
  }

  .tekst_over_billede {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .tekst_over_billede p {
    width: 280px;
  }

  .hvid {
    color: var(--offWhite);
    padding: 10px 0;
  }

  .grid_kategori {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--brun50);
  }

  .midten {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .luft_klar {
    padding: 20px 0;
  }

  .h1_k2 {
    text-align: center;
  }

  .grid_kategori_index {
    padding: 50px 0;
  }

  /***** Desktop *****/
  @media (min-width: 800px) {
    .background-image-k2 {
      background-image: url(/img/k2.webp);
      aspect-ratio: 8/8;
    }

    .grid_kategori_index {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .grid_kategori {
      grid-column: 2 / 3;
    }

    .grid_kategori_index {
      padding: 150px 0;
    }
  }

  /***************************** Populære sko ******************************/

  .popular h1 {
    padding-bottom: 20px;
  }

  .popular_button {
    padding-top: 20px;
  }

  .grid_1_1_1_1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }

  .popular_button {
    display: flex;
    justify-content: flex-end;
  }

  /***** Desktop *****/
  @media (min-width: 800px) {
    .popular h1 {
      padding-bottom: 50px;
    }

    .popular_button {
      padding-top: 50px;
    }
  }

  /***************************** Instagram ******************************/
  .instagram {
    padding: 50px 0;
  }

  .instagram h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }
  .line {
    width: 120px;
    height: 2px;
    background-color: var(--lyserRoed600);
    margin: 0 auto;
  }

  .grid_istagram {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    padding-top: 50px;
  }

  /***** Desktop *****/
  @media (min-width: 800px) {
    .instagram {
      padding: 150px 0;
    }
    .grid_istagram {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }

  /***************************** Billide med tekstbox - Om K2 ******************************/

  .background-image {
    background-image: url(/img/index_om_k2_2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
  }

  .tekstbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(255, 250, 250, 0.8);
    padding: 30px;
  }

  .p {
    width: 200px;
  }

  .luft_om {
    padding-bottom: 15px;
  }
  .luft_om_h2 {
    padding-bottom: 25px;
  }

  .billede_luft {
    margin-bottom: 100px;
  }

  /*Desktop*/
  @media (min-width: 800px) {
    .background-image {
      background-image: url(/img/index_om_k2_1.webp);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 600px;
    }
    .tekstbox {
      transform: translate(-100%, -50%);
    }

    .p {
      width: 400px;
    }
  }
</style>

<script></script>
