---
import Layout from "../componets/Layout.astro";
---

<Layout titel="Forside">
  <h1>FORSIDE</h1>
  <h2>Test</h2>
  <p>Test test test test test test test test</p>
</Layout>

<style>
  h2 {
    color: var(--lyserRoed600);
  }
</style>
