---
import Layout from "../componets/Layout.astro";
---

<Layout titel="Kontakt">
  <div class="flex">
    <div class="abningstider">
      <h1 class="aabningstider_h1">Åbningstider</h1>
      <div class="aabningstider_ul">
        <ul>
          <li>Mandag:</li>
          <li>Tirsdag:</li>
          <li>Onsdag:</li>
          <li>Torsdag:</li>
          <li>Fredag:</li>
          <li>Lørdag:</li>
          <li>Søndag:</li>
        </ul>
        <ul>
          <li>10.00-17.00</li>
          <li>10.00-17.00</li>
          <li>10.00-17.00</li>
          <li>10.00-17.00</li>
          <li>10.00-17.00</li>
          <li>10.00-17.00</li>
          <li>LUKKET</li>
        </ul>
      </div>
    </div>

    <div>
      <iframe
        class="responsive-iframe"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.3664825516435!2d12.501878976758745!3d55.769506590704616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46524f2d0e6d4b0b%3A0xeb730b552c04fa14!2sK2!5e0!3m2!1sen!2sdk!4v1715776446123!5m2!1sen!2sdk"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      <p class="adresse">Lyngby Hovedgade 72, 2800 Kongens Lyngby<p></p></p>
    </div>
  </div>

  <div class="billede_med_tekst">
    <div class="background-image">
      <div class="tekstbox">
        <h1 class="luft_2">Kontakt</h1>
        <p class="luft_2">Tlf. 86 88 24 00</p>
        <div class="luft grid_mail">
          <p><span>Mail:</span> <span class="underline">Knoop@c.dk</span></p>
        </div>
        <h2 class="luft_2">Nyhedsbrev</h2>
        <input class="luft_2" type="email" id="email" name="email" placeholder="Din email" required />
        <input type="submit" value="Send" />
      </div>
    </div>
  </div>
</Layout>

<style>
  /***************************** Åbningstider og map  ******************************/
  iframe {
    width: 100%;
    height: 200px;
  }
  .aabningstider_h1,
  .adresse {
    color: var(--lyserRoed600);
  }
  .aabningstider_ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  li {
    list-style-type: none;
    padding-bottom: 5px;
  }
  .abningstider ul :last-child {
    color: var(--lyserRoed600);
  }

  /*Desktop*/
  @media (min-width: 800px) {
    .flex {
      display: flex;
      justify-content: space-between;
    }

    iframe {
      width: 800px;
      height: 300px;
    }
  }

  /***************************** Billide med tekstbox  ******************************/

  .background-image {
    background-image: url(/public/img/kontakt_placeholder_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
  }

  .billede_med_tekst {
    display: grid;
    place-items: center;
    position: relative;
  }

  .tekstbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(255, 250, 250, 0.8);
    padding: 30px;
  }

  .grid_mail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .underline {
    text-decoration-line: underline;
    text-decoration-color: var(--lyserRoed400);
  }

  /*Desktop*/
  @media (min-width: 800px) {
    .background-image {
      background-image: url(/public/img/kontakt_placeholder.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 600px;
    }
    .tekstbox {
      transform: translate(-130%, -50%);
    }
  }

  /******** Nyhedsbrev ********/
  input[type="email"] {
    width: 200px;
    margin: 5px 0;
    padding: 2px 2px;
    border: 2px solid var(--lyserRoed600);
  }

  input[type="email"]:focus {
    outline: solid 1px var(--lyserRoed600);
    background-color: var(--lyserRoed200);
    transition: all 0.3s ease-in-out;
  }

  input[type="submit"] {
    width: 80px;
    height: 40px;
    color: white;
    border: 2px solid var(--lyserRoed600);
    background-color: var(--lyserRoed600);
  }

  input[type="submit"]:hover {
    background-color: var(--lyserRoed400);
    transition: 0.5s;
  }

  /*Desktop*/
  @media (min-width: 800px) {
    input[type="email"] {
      width: 100%;
    }
    input[type="submit"] {
      width: 100px;
      height: 40px;
    }
  }

  /***************************** Luft  ******************************/

  .aabningstider_h1 {
    padding-bottom: 20px;
  }

  .abningstider {
    padding-bottom: 20px;
  }

  .flex {
    padding-bottom: 50px;
  }
  .luft {
    padding-bottom: 50px;
  }

  .luft_2 {
    padding-bottom: 10px;
  }

  .billede_med_tekst {
    margin-bottom: 50px;
  }
</style>
