---
import Layout from "../componets/Layout.astro";
import Card from "../componets/Card.astro";
import Sko_card from "../componets/Sko_card.astro";
import Butik_card from "../componets/Butik_card.astro";

import Line from "../componets/Line.astro";

// her henter vi væres data fra superbase
const data = await fetch(
  "https://xdwlizqafawwahsaxilk.supabase.co/rest/v1/k2",
  {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhkd2xpenFhZmF3d2Foc2F4aWxrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYzNjI3ODEsImV4cCI6MjAzMTkzODc4MX0.YV7fOme_czbNaDg9hVyfGOe8Tt3UwV0wnnyKZrlbPOw",
    },
  }
  // og laver det om til json
).then((res) => res.json());
---

<Layout titel="Listeveiw">
  <div class="filtrering">
    <h1>Vores sko</h1>
    <p>
      Opdag vores udvalg af designer kvalitets sko i topklasse - her finder du noget for enhver smag. <br /> Udforsk vores sortiment af tidløse elementer og statement styles nedenfor <br /> og find det perfekte par, der passer til din stil.
    </p>
    <Line />
  </div>
  <section class="grid_1_1_1_1">
    <!-- her laver vi en "for each" som istedet hedder map, som er en anden måde at gøre det på, koden retunerer
    et "Card" for each id som vi har i vores data -->
    {
      data.map((sko) => {
        return <Card data={sko} />;
      })
    }
    <Sko_card />
    <Butik_card />
  </section>
</Layout>

<!-- <script src="https://unpkg.com/@supabase/supabase-js@2">
  forsøg på filtrering
  const supabase = createClient(
    "https://xdwlizqafawwahsaxilk.supabase.co/rest/v1/k2",
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhkd2xpenFhZmF3d2Foc2F4aWxrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYzNjI3ODEsImV4cCI6MjAzMTkzODc4MX0.YV7fOme_czbNaDg9hVyfGOe8Tt3UwV0wnnyKZrlbPOw"
  );
  const btn = document.querySelector("btn");

  btn.addEventListener("mousedown", () => {
    supabase.from("k2").select("produktnavn").eq("Bibi Lou ");
  });

  // Create a single supabase client for interacting with your database
</script> -->

<style>
  .grid_1_1_1_1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
  }

  .filtrering {
    text-align: center;
    padding: 5rem;
  }
  .filtrering h1 {
    padding: 2rem 0;
  }

  @media (min-width: 800px) {
    .grid_1_1_1_1 {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }

  /* nth child betyder at vi tager barnet inde i secktion nummerer er i paranteset */
</style>
