---
import Layout from "../componets/Layout.astro";
---

<Layout titel="Om K2">
  <div class="grid_om_k2">
    <div class="luft">
      <h1>Om K2</h1>
      <p>Velkommen til K2, hvor vi med stolthed præsenterer dig for en verden af eksklusive sko og bæredygtigt tøj med et feminint og romantisk touch.</p>
      <p>I vores hyggelige butik på Lyngby Hovedgade 72 kan du opleve vores nøje udvalgte sko fra designere i Italien, Spanien og Danmark. Vi er stolte over at repræsentere brands som DL Sport, Wonders, Unisa og mange andre, der alle afspejler vores fokus på kvalitet og unikke designs.</p>
      <p>
        Bag K2 står Marie Louise og Ole Knoop, med mere end 25 års erfaring i branchen. Vi brænder for bæredygtighed og kvalitet, og det er vores lidenskab, der har tiltrukket loyale kunder fra nær og fjern. I vores butik kan du forvente en varm velkomst og personlig service, hvor vi står klar til at hjælpe dig med at finde det perfekte produkt til
        dig.
      </p>
      <p>Uanset om du besøger os i butikken eller handler online, vil vi gerne byde dig velkommen til vores verden af elegance og passion.</p>
    </div>
    <img class="img" src="/public/img/placeholder_omk2.png" alt="placeholder om K2" />
  </div>
  <img class="luft" src="/public/img/kontakt_placeholder.png" alt="placeholder om K2" />
</Layout>

<style>
  h1 {
    padding: 15px 0;
    display: flex;
    justify-content: center;
  }
  p {
    padding: 10px 0;
  }

  .luft {
    padding-bottom: 50px;
  }

  .grid_om_k2 {
    padding-bottom: 50px;
  }

  /*Desktop*/
  @media (min-width: 800px) {
    .grid_om_k2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 80px;
      padding-bottom: 100px;
    }

    .grid_om_k2 img {
      order: -1;
    }
  }
</style>
