---
import Layout from "../componets/Layout.astro";
import Kjole_I_Butik from "../componets/Kjole_I_Butik.astro";
---

<Layout
  titel="Sissel Edelbo"
  metaDescription="Her kan kan man laese om sissel edelbo og hendes kjoler"
  hero_icon="/img/butik_icon.svg"
  hero_img="/img/Hero_sissele.webp"
  hero_tekst="SISSEL EDELBO"
  hero_undertekst="KAN KUN KØBES I K2's BUTIK"
  hasImg="true"
  hasTekst="ture"
  hasUnderTekst="true"
  hasCarouselTekst="true"
>
  <!-- ***************sissel slider*************** -->

  <div class="om_kjoler">
    <div class="col">
      <h2>Æstetiske bæredygtighed i tøjkunst</h2>
      <p class="luft">
        Sissel Eddelbo's design er kendetegnet ved sit unikke og innovative brug
        af genbrugsmaterialer.
      </p>
      <p class="luft">
        Hendes tøjkollektioner kombinerer æstetik og bæredygtighed på en
        harmonisk måde, der appellerer til moderne forbrugere med en bevidsthed
        om miljøet.
      </p>
      <p class="luft">
        Da hver kjole er en unik skabelse, er de eksklusivt tilgængelige i vores
        fysiske butik.
      </p>
    </div>

    <img src="/img/sissel_edelbo_pink2.webp" alt="billede af lille kjole" />
    <img
      class="order"
      src="/img/sissel_edelbo_bla.webp"
      alt="billede af fuldt hvidt outfit"
    />
    <img src="/img/sissel_edelbo_pink.webp" alt="billede af pink top" />
    <img
      src="/img/sissel_edelbo_gul.webp"
      alt="billede af gult outfit med trøje og bukser"
    />
    <div class="queute">
      <p class="italic">
        “Hos SISSEL EDELBO er socialt ansvar ikke blot en del af vores
        forretning; det er kernen i alt, hvad vi gør.”
      </p>
    </div>
  </div>
  <div class="om_sissel">
    <h2>Om Sissel Edelbo</h2>
    <div class="grid_om">
      <div class="col">
        <p>
          Sissel Edelbo er grundlagt af de danske iværksættere Jeanne Sissel
          Thomsen og Chris Elmengaard samt designeren bag det bæredygtige
          tøjmærke, Eddelbo. Deres brand er dedikeret til at skabe miljøvenligt
          tøj ved at genbruge overskydende materialer fra indiske landsbyer og
          hjem. Med en mission om at mindske tekstilaffaldet og fremme en mere
          bæredygtig modeindustri, arbejder Eddelbo målrettet på at anvende
          ressourcer på en ansvarlig måde.
        </p>
      </div>
      <div class="col">
        <p>
          Sissel Edelbo er en anerkendt design brance, hvis design er synonymt
          med ansvarlig mode. Hendes signaturstil er præget af et unikt og
          innovativt brug af genbrugsmaterialer, der giver hendes
          tøjkollektioner et særligt præg af bæredygtighed og kreativitet. Deres
          designs formår at forene æstetik og miljøbevidsthed på en harmonisk
          måde og tiltaler derfor moderne forbrugere, der ønsker at klæde sig
          med stil og samvittighed.
        </p>
      </div>
    </div>
  </div>

  <div class="kjoler_i_butik">
    <Kjole_I_Butik sissel_kjole="/img/sissel_kjole1.webp" />
    <Kjole_I_Butik sissel_kjole="/img/sissel_kjole2.webp" />
    <Kjole_I_Butik sissel_kjole="/img/sissel_kjole3.webp" />
    <Kjole_I_Butik sissel_kjole="/img/sissel_kjole4.webp" />

    <div class="billede_tekst">
      <img
        class="tekst_img"
        src="/img/stort_img_sissel.webp"
        alt="placeholder"
      />
      <div class="col">
        <h2>Stærke Bånd og Bæredygtig Produktion: En Glædelig Genforening</h2>
        <p>
          Det er altid en glæde at genforenes med de mennesker, som vi gennem
          årene har opbygget stærke og nære relationer til. Her får vi mulighed
          for at fordybe os i produktionen, holde os opdaterede om
          produktionsstatus og sikre, at alle involverede arbejder i et sundt og
          sikkert miljø – noget, der er af allerstørste betydning for os.
        </p>
      </div>
    </div>
    <Kjole_I_Butik sissel_kjole="/img/sissel_kjole5.webp" />
    <Kjole_I_Butik sissel_kjole="/img/sissel_kjole6.webp" />
    <Kjole_I_Butik sissel_kjole="/img/sissel_kjole7.webp" />
    <Kjole_I_Butik sissel_kjole="/img/sissel_kjole8.webp" />
    <Kjole_I_Butik sissel_kjole="/img/sissel_kjole9.webp" />
    <Kjole_I_Butik sissel_kjole="/img/sissel_kjole10.webp" />
  </div>
</Layout>

<style>
  .om_kjoler {
    padding: 50px 0;
  }

  .kjoler_i_butik {
    padding: 50px 0;
  }
  h1 {
    padding-top: 5rem;
  }
  h2 {
    padding: 15px 0;
  }
  p,
  h2 {
    color: var(--offWhite);
  }

  .luft {
    padding: 10px 0;
  }

  .italic {
    font-style: italic;
  }

  .om_kjoler .col,
  .om_sissel {
    background-color: var(--ornage700);
  }

  .queute {
    background-color: var(--lyserRoed600);
  }
  .kjoler_i_butik .col {
    background-color: #b74863bd;
  }
  .om_kjoler {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .om_kjoler .order {
    order: -1;
  }

  .kjoler_i_butik {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .om_kjoler div,
  .om_sissel,
  .kjoler_i_butik .col {
    padding: 50px 20px;
  }
  .om_sissel p {
    padding: 20px 0;
  }

  .om_sissel col {
    position: absolute;
  }

  .queute {
    text-align: center;
  }

  /***************************** Sissel Edelbo infinite carousel  ******************************/

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .sissel {
    min-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--groen200);
  }

  .sissel-slide {
    display: inline-block;
    animation: 45s slide infinite linear;
  }

  .sissel-slide img {
    width: auto;
    height: 22px;
  }

  @media (min-width: 800px) {
    .sissel-slide img {
      height: 32px;
    }
    .kjoler_i_butik {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
    .tekst_img {
      height: 100%;
    }

    .billede_tekst {
      grid-area: 2 / 1 / 4 /4;
      position: relative;
    }
    .billede_tekst img {
      margin-top: 0;
    }

    .billede_tekst .col {
      top: 20%;
      position: absolute;
    }

    .om_kjoler {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    .om_kjoler .order {
      order: 2;
    }
    .om_kjoler img {
      grid-row: span 2;
      height: 100%;
    }
    .queute {
      order: 5;
    }

    .om_kjoler {
      padding: 150px 0;
    }

    .kjoler_i_butik {
      padding-top: 150px;
      padding-bottom: 100px;
    }

    .grid_om {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }
  }
</style>
